@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --body-color: #1D2E4C;
  --brown: #47220F;
  --yellow: #FECD83;
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --body-color: #1D2E4C;

  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif,; */
  font-family: inherit;
}

.mask-album {
  mask-image: url("../public/assets/album/album.png");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;

  -webkit-mask-image: url("../public/assets/album/album.png");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

